@charset "UTF-8";
@font-face {
  font-family: "shrikhandregular";
  src: url("../fonts/shrikhand-fonfacekit/shrikhand-regular-webfont.eot");
  src: url("../fonts/shrikhand-fonfacekit/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-fonfacekit/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-fonfacekit/shrikhand-regular-webfont.woff") format("woff"), url("../fonts/shrikhand-fonfacekit/shrikhand-regular-webfont.ttf") format("truetype"), url("../fonts/shrikhand-fonfacekit/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-fontfacekit/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("../fonts/roboto-fontfacekit/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-fontfacekit/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto-fontfacekit/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto-fontfacekit/roboto_regular_macroman/Roboto-Regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto-fontfacekit/roboto_bold_macroman/Roboto-Bold-webfont.eot");
  src: url("../fonts/roboto-fontfacekit/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-fontfacekit/roboto_bold_macroman/Roboto-Bold-webfont.woff2") format("woff2"), url("../fonts/roboto-fontfacekit/roboto_bold_macroman/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/roboto-fontfacekit/roboto_bold_macroman/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/roboto-fontfacekit/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1,
footer h3 {
  font-family: "shrikhandregular";
}

:not(h1) {
  font-family: "robotoregular";
}

#index_header h2 {
  font-weight: bold;
}
#index_header h3 {
  font-weight: normal;
}

.menu h1 {
  font-size: 1.8rem;
}
.menu h3 {
  font-size: 0.9rem;
  margin: 0;
}
.menu h2 {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: normal;
}
.menu p {
  font-size: 0.8rem;
}

.insert p {
  font-weight: bold;
}

@keyframes menu-intro {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes order {
  0% {
    width: 90%;
  }
  100% {
    width: 60%;
  }
}
@keyframes body-appearance {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  17% {
    transform: scaleX(0.18);
    opacity: 1;
  }
  33% {
    transform: scaleX(0.4);
    opacity: 1;
  }
  46% {
    transform: scaleX(0.81);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes tick-move-mirror {
  0% {
    width: 90%;
  }
  100% {
    width: 74%;
    border-radius: 11px 0 0 11px;
  }
}
body {
  margin: 0;
}

/*Habillage liens pour qu'ils ne changent pas de couleur après avoir été visités*/
a {
  text-decoration: none;
  color: black;
}

#index_header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#index_header img {
  width: 100%;
}
#index_header svg {
  width: 10px;
}
#index_header div:first-of-type {
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  width: 100%;
  box-shadow: inset 0px 5px 7px -2px rgba(40, 50, 50, 0.15);
}
#index_header div:first-of-type p {
  padding-left: 5%;
  font-weight: bold;
}
#index_header div:last-of-type {
  background-color: #f6f6f6;
  padding: 5% 5% 15% 5%;
}
#index_header div:last-of-type h3 {
  padding-bottom: 5%;
}
#index_header a {
  /*mise en forme boutons + éclaircissement au survol*/
  color: white;
  background: linear-gradient(160deg, #ff79da, #9356dc);
  border-radius: 50px;
  padding: 5%;
  box-shadow: 1px 1px 10px #c0bfbf;
  z-index: 1;
  position: relative;
  display: block;
  text-align: center;
  width: 60%;
  margin: auto;
}
#index_header a:hover::after {
  opacity: 1;
}
#index_header a::after {
  content: "";
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(160deg, #ff8de0, #9e67e0);
  box-shadow: 1px 1px 30px #9b9b9b;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}

.menu_header {
  background-color: white;
  position: relative;
}
.menu_header div {
  display: flex;
  justify-content: center;
  background-color: white;
}
.menu_header img {
  height: 230px;
  width: 100%;
  object-fit: cover;
}
.menu_header svg {
  width: 20px;
  position: absolute;
  top: 25px;
  left: 20px;
}

footer {
  padding: 5%;
  background-color: #353535;
  color: white;
}
footer img {
  width: 25%;
}
footer svg {
  width: 10px;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer ul li {
  padding-bottom: 5px;
}
footer a {
  color: white;
}

/*.accueil {
    animation: body-appearance 0 backwards;
    animation-delay: $anim-big-delay + $anim-delay;
}*/
#fonctionnement svg {
  height: 15px;
  padding-left: 5%;
}
#fonctionnement ol {
  counter-reset: counter;
  padding-left: 0;
}
@media screen and (min-width: 1024px) {
  #fonctionnement ol {
    display: flex;
    justify-content: space-between;
  }
}
#fonctionnement ol li {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin: 5%;
  box-shadow: 1px 1px 10px #c0bfbf;
  border-radius: 20px;
  counter-increment: counter;
}
@media screen and (min-width: 1024px) {
  #fonctionnement ol li {
    width: 100%;
    margin: 1.6666666667%;
  }
}
#fonctionnement ol li::before {
  content: counter(counter);
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  background-color: #9356dc;
  position: relative;
  right: 10px;
}
#fonctionnement h3 {
  padding-left: 5%;
}

#restaurants {
  background-color: #f6f6f6;
}
#restaurants svg {
  color: white;
  /*mise en forme coeurs + remplissage rouge au survol*/
  width: 30px;
  height: 30px;
  padding-right: 3%;
  stroke-width: 3%;
  stroke: black;
  fill: currentColor;
  position: relative;
  z-index: 1;
  transition: fill 0.6s;
}
#restaurants svg:hover {
  fill: rgba(255, 0, 0, 0.637);
}

@media screen and (min-width: 1024px) {
  .restaurants__notitle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1280px) {
  .restaurants__notitle {
    justify-content: space-evenly;
  }
}
#restaurants,
#fonctionnement {
  padding: 5%;
}

/*mise en forme encarts restaurants*/
.insert {
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 11px;
  box-shadow: 1px 1px 10px #c0bfbf;
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .insert {
    width: 420px;
  }
}
@media screen and (min-width: 1280px) {
  .insert {
    width: 500px;
  }
}
.insert:first-of-type {
  margin-top: 5%;
}
.insert__pic {
  position: relative;
}
.insert__pic p {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 6px 15px 6px 15px;
  background-color: #99e2d0;
  color: #278870;
  border-radius: 2px;
}
.insert__pic__img {
  width: 100%;
  border-radius: 11px 11px 0px 0px;
  height: 150px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .insert__pic__img {
    height: 250px;
  }
}
.insert__txtblock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
}
.insert h3,
.insert p {
  margin: 0;
}
.insert svg {
  width: 20px;
}

.menu {
  position: relative;
  top: -40px;
  background-color: #f6f6f6;
  padding: 10% 5% 0 5%;
  border-radius: 40px 40px 0 0;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title svg {
  color: #f6f6f6;
  /*mise en forme coeurs + remplissage rouge au survol*/
  width: 30px;
  height: 30px;
  padding-right: 3%;
  stroke-width: 3%;
  stroke: black;
  fill: currentColor;
  position: relative;
  z-index: 1;
  transition: fill 0.6s;
}
.menu__title svg:hover {
  fill: rgba(255, 0, 0, 0.637);
}
.menu__body {
  background-color: #f6f6f6;
}
@media screen and (min-width: 1280px) {
  .menu__list {
    display: flex;
    justify-content: space-between;
  }
}
.menu__parts {
  animation: menu-intro 1s backwards;
  position: relative;
  padding-top: 5%;
}
.menu__parts--1 {
  animation-delay: 0.5s;
}
.menu__parts__item {
  position: relative;
}
.menu__parts__item__txt {
  background-color: white;
  box-shadow: 1px 1px 10px #c0bfbf;
  border-radius: 11px;
  margin-top: 3.3333333333%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.menu__parts__item__txt__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__parts__item__txt:hover {
  cursor: pointer;
  animation: tick-move-mirror 0.3s ease-out forwards;
}
.menu__parts__item__txt:hover div p:first-of-type, .menu__parts__item__txt:hover h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__parts__item__txt:hover:hover + .menu__parts__item__svg {
  width: 16%;
}
.menu__parts__item__txt:hover:hover + .menu__parts__item__svg svg {
  transform: rotate(360deg);
}
.menu__parts__item__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #99e2d0;
  border-radius: 0 11px 11px 0;
  box-shadow: 1px 1px 10px #c0bfbf;
  transition: width 0.3s;
}
.menu__parts__item__svg svg {
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}
.menu__parts--2 {
  animation-delay: 1s;
}
.menu__parts__item {
  position: relative;
}
.menu__parts__item__txt {
  background-color: white;
  box-shadow: 1px 1px 10px #c0bfbf;
  border-radius: 11px;
  margin-top: 3.3333333333%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.menu__parts__item__txt__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__parts__item__txt:hover {
  cursor: pointer;
  animation: tick-move-mirror 0.3s ease-out forwards;
}
.menu__parts__item__txt:hover div p:first-of-type, .menu__parts__item__txt:hover h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__parts__item__txt:hover:hover + .menu__parts__item__svg {
  width: 16%;
}
.menu__parts__item__txt:hover:hover + .menu__parts__item__svg svg {
  transform: rotate(360deg);
}
.menu__parts__item__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #99e2d0;
  border-radius: 0 11px 11px 0;
  box-shadow: 1px 1px 10px #c0bfbf;
  transition: width 0.3s;
}
.menu__parts__item__svg svg {
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}
.menu__parts--3 {
  animation-delay: 1.5s;
}
.menu__parts__item {
  position: relative;
}
.menu__parts__item__txt {
  background-color: white;
  box-shadow: 1px 1px 10px #c0bfbf;
  border-radius: 11px;
  margin-top: 3.3333333333%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.menu__parts__item__txt__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__parts__item__txt:hover {
  cursor: pointer;
  animation: tick-move-mirror 0.3s ease-out forwards;
}
.menu__parts__item__txt:hover div p:first-of-type, .menu__parts__item__txt:hover h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__parts__item__txt:hover:hover + .menu__parts__item__svg {
  width: 16%;
}
.menu__parts__item__txt:hover:hover + .menu__parts__item__svg svg {
  transform: rotate(360deg);
}
.menu__parts__item__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #99e2d0;
  border-radius: 0 11px 11px 0;
  box-shadow: 1px 1px 10px #c0bfbf;
  transition: width 0.3s;
}
.menu__parts__item__svg svg {
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}
.menu__parts .underline {
  width: 40px;
  border: solid 2px #99e2d0;
  background-color: #99e2d0;
}
.menu ul {
  list-style-type: none;
  padding-left: 0;
}
.menu a {
  /*mise en forme boutons + éclaircissement au survol*/
  color: white;
  background: linear-gradient(160deg, #ff79da, #9356dc);
  border-radius: 50px;
  padding: 5%;
  box-shadow: 1px 1px 10px #c0bfbf;
  z-index: 1;
  position: relative;
  display: block;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.menu a:hover::after {
  opacity: 1;
}
.menu a::after {
  content: "";
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(160deg, #ff8de0, #9e67e0);
  box-shadow: 1px 1px 30px #9b9b9b;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}
.menu p {
  margin: 0;
}
.menu h2 {
  margin: 0;
}

/*.loader {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 50%;
    height: 5%;
    border: $color-secondary solid 2px;
    z-index: -999999;
    opacity: 0;
    animation: loader $anim-big-delay + $anim-delay backwards;

    &__bar {
        background: linear-gradient($gradient-deg, $color-primary, $color-secondary);
        animation: progress-bar $anim-big-delay $anim-delay backwards;
        transform-origin: left;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 3px;
        opacity: 0;
    }
}
*/

/*# sourceMappingURL=style.css.map */
