/*.accueil {
    animation: body-appearance 0 backwards;
    animation-delay: $anim-big-delay + $anim-delay;
}*/

#fonctionnement {
    svg {
        height: 15px;
        padding-left: $margin-padding-default;
    }

    ol {
        counter-reset: counter;
        padding-left: 0;
        @media screen and (min-width: map-get($breakpoints, tablet-landscape)) {
            display: flex;
            justify-content: space-between;
        }
        li {
            display: flex;
            align-items: center;
            background-color: $light-grey;
            margin: $margin-padding-default;
            box-shadow: $button-shadow;
            border-radius: 20px;
            counter-increment: counter;
            @media screen and (min-width: map-get($breakpoints, tablet-landscape)) {
                width: 100%;
                margin: $margin-padding-default / 3;
            }
            &::before {
                content: counter(counter);
                color: white;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                text-align: center;
                background-color: $color-secondary;
                position: relative;
                right: 10px;
            }
        }
    }

    h3 {
        padding-left: $margin-padding-default;
    }
}

#restaurants {
    background-color: $light-grey;

    svg {
        color: white;
        @include heart;
    }
}

@media screen and (min-width: map-get($breakpoints, tablet-landscape)) {
    .restaurants__notitle {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            justify-content: space-evenly;
        }
    }
}

#restaurants,
#fonctionnement {
    padding: $margin-padding-default;
}

/*mise en forme encarts restaurants*/
.insert {
    margin-top: $margin-padding-default * 2;
    margin-bottom: $margin-padding-default * 2;
    border-radius: $radius;
    box-shadow: $button-shadow;
    background-color: white;
    @media screen and (min-width: map-get($breakpoints, tablet-landscape)) {
        width: 420px;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        width: 500px;
    }

    &:first-of-type {
        margin-top: $margin-padding-default;
    }
    &__pic {
        position: relative;

        p {
            position: absolute;
            right: 20px;
            top: 20px;
            padding: 6px 15px 6px 15px;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            border-radius: 2px;
        }
        &__img {
            width: 100%;
            border-radius: $radius $radius 0px 0px;
            height: 150px;
            object-fit: cover;
            @media screen and (min-width: map-get($breakpoints, tablet)) {
                height: 250px;
            }
        }
    }

    &__txtblock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
        padding-top: 2%;
    }

    h3,
    p {
        margin: 0;
    }

    svg {
        width: 20px;
    }
}
