.menu {
    position: relative;
    top: -40px;
    background-color: $light-grey;
    padding: $margin-padding-default * 2 $margin-padding-default 0 $margin-padding-default;
    border-radius: 40px 40px 0 0;

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        top: 0;
        padding: $margin-padding-default $margin-padding-default / 2 0 $margin-padding-default / 2;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            color: $light-grey;
            @include heart;
        }
    }

    &__body {
        background-color: $light-grey;
    }

    &__list {
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__parts {
        animation: menu-intro $anim-duration backwards;
        position: relative;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            width: calc(100% / 3.1);
        }
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }

            &__item {
                position: relative;

                &__txt {
                    background-color: white;
                    box-shadow: $button-shadow;
                    border-radius: $radius;
                    margin-top: $margin-padding-default / 1.5;
                    padding-right: $margin-padding-default;
                    padding-left: $margin-padding-default;
                    padding-top: 3%;
                    padding-bottom: 3%;
                    &__price {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    &:hover {
                        cursor: pointer;
                        animation: tick-move-mirror $anim-short ease-out forwards;

                        div p:first-of-type {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &:hover + .menu__parts__item__svg {
                            width: 20%;
                        }

                        &:hover + .menu__parts__item__svg svg {
                            transform: rotate(360deg);
                        }
                    }
                }

                &__svg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 0%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background-color: $color-tertiary;
                    border-radius: 0 $radius $radius 0;
                    box-shadow: $button-shadow;
                    transition: width $anim-short;

                    svg {
                        width: 40px;
                        height: 40px;
                        transition: transform $anim-short;
                    }
                }
            }
        }

        .underline {
            width: 40px;
            border: solid 2px $color-tertiary;
            background-color: $color-tertiary;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    a {
        @include button;
    }

    p {
        margin: 0;
    }

    h2{
        margin: 0;
    }
}
